<!DOCTYPE html>
<html lang="eng">

<head>
<title>Your Previous HMRKJ Payments</title>
 <meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="payment.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/3.0.0/jquery.payment.min.js"></script>
</style>
</head>
<body>

<div class="bgimg">
<nav class="navbar navbar-inverse navbar-expand-md bg-dark navbar-dark navbar-fixed-top">

<div class="container navbar-header">
<a href="" class="navbar-brand">

<img src="1.png" class="img-circle" style="width:35px; "></a>
 
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
 <span class="navbar-toggler-icon"> </span>
</button>
<div class="collapse navbar-collapse text-center text-white" id="collapsenavbar">
<ul class="nav navbar-nav">
      <li ><a href="main">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Student Info<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Complete Info</a></li>
          <li><a href="#">Apply Duty/Medical Leave</a></li>
          <li><a href="#">Parent Information</a></li>
          <li><a href="#">Display Teacher Comments</a></li>
          <li><a href="#">Display Institute notices</a></li>
          <li><a href="#">Display Fine</a></li>
          <li><a href="#">Display Institute Events</a></li>
          <li><a href="#">Display Admin Messages</a></li>
           <li><a href="#">Display Course Wise Topic Report</a></li>
            <li><a href="#">Display My Exam Schedule</a></li>
             <li><a href="#">Select Specialization</a></li>
              <li><a href="#">Course Handouts</a></li>
       </ul>
      </li> 

      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Fee Due<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ><a href="payment">Online Net Banking Fee Payment</a></li>
          <li class="active"><a href="phistory">Show Fee Payment History</a></li>
        
        </ul>
      </li>
      <li><a href="#">Attendance</a></li>
      <li><a href="#">Time Table</a></li>
      <li><a href="#">Marks</a></li>
     <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Online Classes<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Notes</a></li>
          <li><a href="#">Class Links</a></li>
          <li><a href="#">Doubt Portal</a></li>
        </ul>
      </li>
      
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Others<span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li><a href="task2">Apply Leave</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Registration Form</a></li>
          <li><a href="#">Gate Pass</a></li><li><a href="mentor">Mentor</a></li><li><a href="#">Change Password</a></li>
         </ul>
      </li>
      <li><a href="logout">Log Out</a></li>
     </ul>

</div></div>
</nav> <br> <br><br>

<div class="welcome text-center"  >
  <div class="card bg-info" style="color:white;">
    <div class="card-body"><img src="new_avtar1.png" alt="Avatar" class="avatar"><strong>
Welcome, <%=name%> (You are currently enrolled in HMRKJ - Science - 12 <abbr  title="Standard">STD</abbr> and are Studying 12 Subjects(Lecture, Tutorial and Practical) Your <em><mark style="color:red;">Fee Details</b><em></mark> are as follows</div>
  </div><br>


<div class="container">
            
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
      <th>#</th>
      <th>Receipt Date 	</th>
        <th>Receipt No. </th>
          <th>Name</th>
            <th>Roll No. 	</th>
        <th>Fee Class 	</th>
        <th>Fee Cycle 	</th>
        <th>Pay Fee Of 	</th>
        <th>Cash(Rs.) 	</th>
        <th>DD(Rs.) 	</th>
        <th>DD Detail 	</th>
        <th>Online Payment 	</th>
        <th>Total Receipt 
</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>10-Jun-18 	</td>
        <td>AA00HM/RKJ/SCIEN/2018-19/226 (Paid) 	</td>
        <td><%=name%></td>
        <td>HMRKJ1246</td>
        <td>HMRKJ-Sci-12</td>
        <td>JULY TO DEC 18 	</td>
        <td>Academic (On Desk) 	</td>
        <td>82500.00</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>82500.00 
</td>
      </tr>
      <tr>
    <td>2</td>
        <td>11-Aug-18 		</td>
        <td>00035	</td>
        <td><%=name%></td>
        <td>HMRKJ1246</td>
        <td>HMRKJ-Sci-12</td>
        <td>JULY TO DEC 18 	</td>
        <td>Transport (On Desk) 	 	</td>
        <td>24500.00</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>24500.00 </td>
      </tr>
      <tr>
        <td>3</td>
        <td>07-Jan-19 	 		</td>
        <td>049	</td>
        <td><%=name%></td>
        <td>HMRKJ1246</td>
        <td>HMRKJ-Sci-12</td>
        <td>JAN TO JUNE 19  	</td>
        <td>Academic (Bank)	 	</td>
        <td>-</td>
        <td>70000.00</td>
        <td>SBI (12321 31-Dec-18)</td>
        <td>-</td>
        <td>70000.00 </td>
      </tr>
       <tr>
        <td>4</td>
        <td>	15-Jul-19 	 		</td>
        <td>016	</td>
        <td><%=name%></td>
        <td>HMRKJ1246</td>
        <td>HMRKJ-Sci-12</td>
        <td>JULY TO DEC 19  	</td>
        <td>Academic (Bank)	 	</td>
        <td>-</td>
        <td>70000.00</td>
        <td>SBI (875265 12-Jul-19) </td>
        <td>-</td>
        <td>70000.00 </td>
      </tr>
       <tr>
        <td>5</td>
        <td>	07-Jan-20 	 	 		</td>
        <td>07.01.2020-060 		</td>
        <td><%=name%></td>
        <td>HMRKJ1246</td>
        <td>HMRKJ-Sci-12</td>
        <td>JAN TO JUNE 20 	 	</td>
        <td>All (Bank) 		 	</td>
        <td>-</td>
        <td>91000.00</td>
        <td>SBI (983542 04-Jan-20) 	 </td>
        <td>-</td>
        <td>91000.00 </td>
      </tr>
       <tr>
        <td></td>
        <td> 	 		</td>
        <td>	</td>
        <td></td>
        <td></td>
        <td></td>
        <td>	</td>
        <td>	</td>
        <td>107300.00</td>
        <td>271800.00</td>
        <td></td>
        <td>0.00</td>
        <td>379100.00 
 </td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>

<div class="footer">
  <p>« Powered By HMRKJ Payment Technologies Pvt Ltd »	</p>
</div>
</div>
</body>

</html>